*.iml
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/binary_delivery/.idea
/binary_delivery/target
/boost/.idea
/boost/target
/boost_system/.idea
/boost_system/target
/boost_filesystem/.idea
/boost_filesystem/target
/msvc_example/*.sdf
/msvc_example/*.suo
/msvc_example/msvc_example/msvc_example.vcxproj.user
